body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
  font-size: 23px;
  line-height: 1.5em;
  }

amp-img {
  max-width: 800px;
  margin: 30px auto;
  }

h1, h2, p {
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  margin: 80px auto 40px;
  padding: 0 20px;
  }

p {
  margin: 30px auto;
  }

a {
  color: inherit;
  text-decoration: underline;
  opacity: 0.8;
  }
  
h1 {
  font-size: 190%;
  opacity: 0.85;
  }
  
h2 {
  font-size: 150%;
  }

#block-intro {
  background: #111;
  padding: 40px 0;
  color: #fff;
  box-shadow: 0 -20px 30px -2px rgba(20,20,20,0.2);
  }

#block-language-switching {
  background-image: linear-gradient(75deg, #5fa0dd, #555);
  padding: 40px 0;
  color: #fff;
  }

#block-amp-list {
  background-image: linear-gradient(120deg, #db8855, #888);
  padding: 40px 0;
  color: #fff;
  }

#block-amp-form {
  background-image: linear-gradient(165deg, #d170c2, #888);
  padding: 40px 0;
  color: #fff;
  }
