body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
  font-size: 23px;
  line-height: 1.5em;
  }

amp-img {
  max-width: 800px;
  margin: 30px auto;
  }

h1, h2, p {
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  margin: 80px auto 40px;
  padding: 0 20px;
  }

p {
  margin: 30px auto;
  }

a {
  color: inherit;
  text-decoration: underline;
  opacity: 0.8;
  }
  
h1 {
  font-size: 190%;
  font-weight: 700;
  }
  
h2 {
  font-size: 150%;
  font-weight: 700;
  }

#block-intro {
  background: #fff;
  padding: 40px 0;
  color: #000;
  }

#block-intro-line {
  display: block;
  height: 20px;
  background: #000;
  position: relative;
  margin: 100px auto 80px;
  max-width: 800px;
border-radius: 100px;
  }

#block-intro-line span {
  display: block;
  position: absolute;
  left: 50%;
  top: -40px;
  margin-left: -50px;
  width: 70px;
  height: 70px;
  background: #fff;
	border: 15px solid #000;
	border-radius: 100px;
	}

#block-language-switching {
  background-image: linear-gradient(20deg, #5fa0dd, #444);
  padding: 40px 0;
  color: #fff;
  position: relative;
  }

#language-switching-buttons, #direction-switching-buttons {
  position: absolute;
  }

#language-switching-buttons {
  top: 10px;
  right: 15px;
  }

#direction-switching-buttons {
  bottom: 10px;
  left: 15px;
  }

#language-switching-buttons span, #direction-switching-buttons span {
  font-size: 60%;
  line-height: 1em;
  vertical-align: middle;
  opacity: 0.8;
  padding: 0;
  margin: 0 10px;
  }

#block-amp-list {
  background-image: linear-gradient(-165deg, #d170c2, #db8855);
  padding: 40px 0;
  color: #fff;
  }

#block-amp-form {
  background-image: linear-gradient(110deg, #d170c2, #5384b2);
  padding: 40px 0;
  color: #fff;
  }

@media (max-width: 800px) {
	#block-intro-line {
		border-radius: 0;
		}
	}
